header {
  height: 270px;
  width: 600px;
  margin: 0 auto;
}

#title {
  max-width: 600px;
}

body {
  background-color: black;
}
.content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;

}

#spriteA {
  position: absolute;
  top: 555px;
  left: 60px;
  width: 30px;
  height: 30px;
  background: url('images/characters/Sprite_Boy_LightBrownHair.gif') no-repeat;
}

#woodcountA, #woodcountB {
  font-family: Arial;
  font-size: 22px;
  color: brown;
  margin: 0px;
  border: 1px solid brown;
  height: 25px;
  width: 107px;
  float: right;
}

#coincountA, #coincountB {
  font-family: Arial;
  font-size: 22px;
  color: orange;
  margin: 0px;
  border: 1px solid yellow;
  height: 25px;
  width: 107px;
  float: right;
}

#sailA, #sailB {
  font-family: Arial;
  font-size: 22px;
  color: white;
}

.pointbox {
  height: 100px;
  width: 108px;
  border: 1px solid red;
  float: right;
}

#spriteB {
  position: absolute;
  top: 605px;
  left: 111px;
  width: 30px;
  height: 30px;
  background: url('images/characters/Sprite_Boy_Blackhair.gif') no-repeat;
}

.rightGrid {
  width: 300px;
/*  height: 697px;*/
  height: 618px;
  margin-left: 100px;
  float: right;
  color: white;
  font-family: Helvetica;
  text-align: center;
  background-color: black;
  border: 8px dotted rgba(255,255,255,0.7);
  position: relative;
}

#playerA {
  height: 193px;
  width: 292px;
  margin-top: 2px;
}

#playerB {
  height: 193px;
  width: 292px;
  margin: 0 auto;
}

#dice {
  background-color: white;
  margin-top: 20px;
}

#dicebox {
  height: 210px;
  width: 298px;
}

#rolldice {
  height: 80px;
  width: 250px;
  background-color: magenta;
  border: 1px solid white;
}

#boatA, #boatB {
  height: 90px;
  width: 90px;
  border: 1px solid white;
  margin: 0 auto;
  padding: 0px;
  float: left;
}

p {
  margin-bottom: 9px;
}

#playerAmoves {
  color: tan;
}

#playerBmoves {
  color: tan;
}

table {
  width: 750px;
  height: 687px;
  text-align: center;
  border: 1px dotted white;
}

table, tr, td {
  border: 1px solid white;
  border-spacing: 0px;
}
/*  background-color: #E9C771;*/
/*  background-color: #57D4F4; /*water color */

#D4, #I8, #G14, #B8, #C12, #B4, #C14, #G8, #J5, #C6 {
  padding: 0px;
}

td {
  height: 48px;
  width: 48px;
  padding: 0px;
}

.land {
   background-color: #E6D4AC;
}

.water {
  background-color: #57D4F4;
}

#mapspace {
  position: relative;
  width: 749px;
  height: 697px;
  border: 10px dotted rgba(255,255,255,0.7)
}

#reset {
  height: 30px;
  width: 200px;
  background-color: yellow;
  border: 1px solid white;
  margin: 0 auto;
  position: absolute;
  top: 675px;
  left: 50px;
}

.wood1, .wood2, .wood3, .wood4, .wood5, .wood6 {
     background-color: #E6D4AC;
}

.coinicon1, .coinicon2, .coinicon3, .coinicon4, .coinicon5, .coinicon6 {
     background-color: #E6D4AC;
}




